body {
	
    font-family: 'Ranchers', cursive;
    
}

.header{
    background-image: url("img/main_background.png");
	background-repeat: no-repeat;
}

.title{
	margin: 0px -140px 0px 0px;
	width: 1200px;
	position: relative;
	right: 90px;
	background-image: url("img/background.jpg");
	border-radius: 5px;
}

.o_potato_div{
	background-image: url("img/background.jpg");
	width: 740px;
	height: 320px;
	border-radius: 0px;
	margin-left: 125px;
	margin-top: 40px;
}

.o_potato_div:hover{
    background-image: url("img/background2.jpg");
    transition: all ease 0.3s;
}

.o_potato_div:hover{
	animation: pulse;
	animation-duration: 0.6s;
}

.o_potato{
	width: 250px;
	height: 400px;
	height: 10em;
    position: relative;
	float: left;
    top: 28%;
    left: 15%;
    transform: translate(-50%, -50%);
    margin-right: -50%;
    padding-left: 30px;
	margin: 7px 7px 7px 7px;
}


.potato_text{
	padding-left: 20px;
}

.v_potato_div{
	background-image: url("img/background.jpg");
	width: 740px;
	height: 260px;
	border-radius: 0px;
	margin-top: 40px;
	margin-left: 125px;
}

.v_potato_div:hover{
    background-image: url("img/background2.jpg");
    transition: all ease 0.2s;
}

.v_potato_div:hover{
	animation: pulse;
	animation-duration: 0.6s;
}

.v_potato{
	width: 250px;
	height: 400px;
	height: 10em;
    position: relative;
	float: left;
    top: 35%;
    left: 15%;
    transform: translate(-50%, -50%);
    margin-right: -50%;
    padding-left: 30px;
	margin: 7px 7px 7px 7px;
}

.d_potato_div{
   background-image: url("img/background.jpg");
	width: 740px;
	height: 350px;
	border-radius: 0px;
	margin-top: 40px;
	margin-left: 125px;
}

.d_potato_div:hover{
	animation: pulse;
	animation-duration: 0.6s;
}

.d_potato_div:hover{
    background-image: url("img/background2.jpg");
    transition: all ease 0.3s;
}

.d_potato{
	width: 250px;
	height: 400px;
	height: 10em;
    position: relative;
	float: left;
    top: 26%;
    left: 15%;
    transform: translate(-50%, -50%);
    margin-right: -50%;
    padding-left: 30px;
	margin: 7px 7px 7px 7px;
}

.s_potato_div{
    background-image: url("img/background.jpg");
	width: 740px;
	height: 350px;
	border-radius: 0px;
	margin-top: 40px;
	margin-left: 125px;
}

.s_potato_div:hover{
    background-image: url("img/background2.jpg");
    transition: all ease 0.3s;
}

.s_potato_div:hover{
	animation: pulse;
	animation-duration: 0.6s;
}

.s_potato{
    width: 250px;
	height: 400px;
	height: 10em;
    position: relative;
	float: left;
    top: 26%;
    left: 14%;
    transform: translate(-50%, -50%);
    margin-right: -50%;
    padding-left: 30px;
	margin: 7px 7px 7px 7px;
}

.back{
	margin: 0px -140px 0px 0px;
	width: 95px;
	left: 57.1%;
	background-image: url("img/background.jpg");
	position: relative;
	top: 9.3px;
}
.back:hover{
    background-image: url("img/white.jpeg");
}

.footer{
	background: #000;
}
.footer_info{
	color: #fff;
	font-size: 16px;
	text-align: center;
	padding: 50px 0 94px;
	width: 184px;
	margin: 0 auto;
	text-align: center;
}